/* media query  */
@media all and (max-width: 720px) {
    .imgForm {
        display: none;
    }
    .formSection {
        height: 100%;
    }
    .blockBottomFollow {
        padding: 0px;
    }
    .colInputContact, .colInputSignIn, .colInputLogIn {
        padding: 16px;
    }
    .followUs {
        display: none;
    }
    .navlinkHover:after {
        bottom: 0px;
    }
    .imgContact, .imgSignIn, .imgLogIn {
        display: none;
    }
    .colInputContact {
        padding: 20px 10px 10px 20px;
    }
    .h1Contact {
        font-size: 40px;
    }
    .buttonContact {
        justify-content: center;
        display: flex;
        margin-bottom: 25px;
    }
    .signUpRow  {
        width: 100vw;
    }
    .colActus {
        justify-content: center !important;
        gap: 1rem;
    }
    .cardActu {
        width: 100%;
    }
    .cardActUnder {
        width: 100%;
    }
    .imgNewsUnder {
        display: none;
    }
    .cardNews {
        padding: 0 0.8rem;
    }
    .cardNewsUnder {
        width: 95%;
    }
    .colGuideActus {
        padding: 0.8rem;
    }
    .widthColRightActu {
        width: 100%;
        height: 100%;
    }
    .colGuideRight {
        padding: 0;
    }
    .imgActuGuideRight {
        display: none;
    }
    .bodycardGuideRight {
        width: 90%;
    }
    .btnTitle {
        padding: 0.8rem 0.8rem;
        margin-top: 0 !important;
    }
    .breadArticles {
        display: none;
    }
    .articlesTitle {
        margin: 2rem 0 !important;
    }
    .titleAllGuides {
        padding-top: 3.5rem;;
    }
    .child-card {
        position: absolute;
        top: 3.6rem;
        left: 1.5rem;
    }
    .profilName {
        position: relative;
        left: 0;
        top: -4.6rem;
    }
    .rightCardProfil {
        width: 100%;
        margin: 2rem 0 !important;
    }
    .profilSection {
        height: 100% !important;
    }
}

@media all and (min-width: 720px) {
    .sectionContainer {
        padding: 10vh 0;
    }
}
    
@media (max-width: 992px) {
    .navbar-toggler {
        display: block; 
    }
    .sidebar {
        width: 100%;
        min-height: auto; 
    }
    .sidebar .collapse {
        display: none; 
    }
    .sidebar .collapse.show {
        display: block; 
    }
}